<script src="../js/dashboard.js"></script>

<div class="container">
    <br>
    <div class="columns is-centered is-tablet " id="dash">
        <div class="column">
            <div class="box">
                <div class="level">
                    <div class="level-right">
                        <div class="level-item">
                            <div class="title is-3">Projects</div>
                        </div>
                    </div>
                    <div class="level-left">
                        <div class="level-item">
                            <i class="fas fa-trash-alt" id="project-delete"></i>
                        </div>
                    </div>
                </div>
                {{#each this.projects }}
                <p class=""><i data-projectId="{{dataValues.id}}" class="fas fa-minus-circle project-minus-icon"></i><a
                        href="../project/{{ dataValues.id }}">{{ dataValues.name }}</a></p>
                {{/each}}
            </div>
        </div>

        <div class="column">
            <div class="box">
                <div class="level">
                    <div class="level-right">
                        <div class="level-item">
                            <div class="title is-3">Tasks</div>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <i class="fas fa-trash-alt" id="task-delete"></i>
                        </div>
                    </div>
                </div>
                {{#each this.tasks }}
                <p class=""><i class="fas fa-minus-circle task-minus-icon" data-taskId="{{ dataValues.id}}"></i><a
                        href="../task/{{ dataValues.id }}" style="width:100px; height:100px;">{{ dataValues.title }}</a>
                </p>
                {{/each}}
            </div>
        </div>
        <div class="column">
            <div class="box">

                <div id="myTaskColumn">
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <div id="user" class="title is-3" value="{{this.user.dataValues.user_id}}">
                                    {{this.user.dataValues.user_name}} Tasks
                                </div>
                            </div>
                        </div>

                        <div class="level-right">
                            <div class="level-item">
                                <i class="fas fa-trash-alt" id="myTask-delete"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>