<script src="js/dashboard.js"></script>

<div class="container">
    <br>
    <div class="level">
        <div class="level-item">
            <div class="has-text-centered">
                <p class="title is-2">Dashboard</p>
            </div>
        </div>
    </div>

    <div class="columns is-centered is-tablet">
        <div class="column">
            <div class="title is-3">Projects<i class="fas fa-trash" id="project-delete"></i></div>
            {{#each this.projects }}
            <p class=""><i data-projectId="{{ dataValues.id}}" class="fas fa-minus-circle project-minus-icon"></i><a
                    href="project/{{ dataValues.id }}">{{ dataValues.name }}</a></p>
            {{/each}}
        </div>

        <div class="column">
            <div class="title is-3">Tasks<i class="fas fa-trash" id="task-delete"></i></div>
            {{#each this.tasks }}
            <p class=""><i class="fas fa-minus-circle task-minus-icon" data-id="{{ dataValues.id}}"></i><a
                    href="task/{{ dataValues.id }}">{{ dataValues.title }}</a>
            </p>
            {{/each}}
        </div>
    </div>

</div>