<script src="../js/viewProject.js"></script>

<div class="container">
  Project ID: {{ id }}
  <br>
  Project Name: {{ name }}
  <br>
  Description: {{ description }}
  <br>
  Create Date: {{ create_date }}
  <br>
  Due Date: {{ due_date }}
  <br>
  Team ID: {{ team_id }}
  <br>
</div>