<script src="/js/viewTask.js"></script>
<div class="container">
  <div class="level">
    <div class="level-item">
      <div class="title is-2" data-taskId="{{ this.task.dataValues.id }}" id="taskTitle">
        {{ this.task.dataValues.title }}
      </div>
    </div>
  </div>

  <div class="column has-text-centered">

    <p class="heading">
      Task Description
    </p>
    <p class="title is-5">
      {{ this.task.dataValues.description }}
    </p>

    <p class="heading">
      Create Date
    </p>
    <p class="title is-5">
      {{ this.task.dataValues.create_date }}
    </p>

    <p class="heading">
      Assignee
    </p>
    <p class="title is-5">
      {{ this.task.User.dataValues.first_name }} {{ this.task.User.dataValues.last_name }}
    </p>

    <p class="heading">
      Task Status
    </p>
    <p class="title is-5">
      {{ this.task.Status.dataValues.status_name }}
    </p>

    <p class="heading">
      Update Status
    </p>
    {{!-- select status drop down --}}
    <div class="field">
      <div class="control has-text-centered">
        <div class="select">
          <select class="select-status">
            {{#each status}}
            <option data-id="{{ dataValues.status_code }}"> {{ dataValues.status_name }}</option>
            {{!-- need list of statuses here --}}
            {{/each}}
          </select>
        </div>
        {{!-- Update Status submit button --}}
        <button id="statusUpdateSubmit" class="button is-link submit-button">Submit</button>
      </div>
    </div>
  </div>